body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-around;
	background-color: #1F2937;
	font-size: 18px;
	padding: 0% 10%;
}

a {
	text-decoration: none;
	color: #E5E7EB;
}

ul {
	display: flex;
	list-style-type: none;
	gap: 25px;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	color: #F9FAF8;
	margin-bottom: 0px;
}

button {
	background-color: #3882F6;
	color: #E5E7EB;
	border: none;
	padding: 5px 20px;
	font-weight: 700;
	font-size: 18px;
	border-radius: 8px;
	margin: 10px 0px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	color: #E5E7EB;
	padding: 0px 80px;
}

.hero-box {
	display: flex;
	justify-content: space-around;
	padding: 80px 80px;
}

.hero-secondary {
	font-size: 18px;
	color: #E5E7EB;
}

.img{
	padding: 100px;
	width: 800px;
	margin-left: 40px;
	background-color: #56606d;
	color: #F9FAF8;
	text-align: center;
}

.more-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F9FAF8;
	padding: 80px 0px;
}

.boxes {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.box-container {
	display: flex;
	flex: 0 1 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #1F2937;
}

.box {
	padding: 100px;
	margin: 40px 0px 20px 0px;
	border-style: solid;
	border-radius: 8px;
	border-color: #3882F6;
}

.info-header{
	font-size: 36px;
	font-weight: 700;
	color: #1F2937;
}

.quotebox {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E5E7EB;
	padding: 160px;
	font-size: 36px;
	color: #1F2937;
	font-style: italic;
}

.quotebox-item {
	max-width: 900px;
}

.cta-background{
	display: flex;
	justify-content: center;
	background-color: #F9FAF8;
	padding: 160px;
}

.cta-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3882F6;
	padding: 40px 50px;
	border-radius: 8px;
	max-width: 1200px;
	color: #F9FAF8;
}

.footer {
	
}

#sign-up {
	background-color: #3882F6;
	color: #E5E7EB;
	border: #F9FAF8;
	border-style: solid;
	padding: 10px 60px;
	font-weight: 700;
	font-size: 18px;
	border-radius: 8px;
	margin: 10px 20px;
}

#author-thor {
	font-style: normal;
	font-size: 24px;
	text-align:right;
	font-weight: 700;
}

#header-logo {
	color: #F9FAF8;
	font-size: 24px;
	font-weight: 700;
}